@import "tailwindcss";

/* npx @tailwindcss/cli -i ./src/style/master.css -o ./src/style/output.css --watch */
/* color: #f2ff00 */
.bgColor {
    background-color: #e01a1a;
}

.logoFilter {
    filter: brightness(0%) invert();
}

.favFont1 {
    font-family: "Poiret One", sans-serif;
}

.favFont2 {
    font-family: "Saira Stencil One", sans-serif;
}

.solidShadow {
    box-shadow: 10px 10px 0 #f2ff00;
}

.reverseSolidShadow {
    box-shadow: -10px 10px 0 #f2ff00;
}

.menuFZ {
    font-size: 40px !important;
}

html {
    scrollbar-width: thin;
    scrollbar-color: yellow transparent;
}

html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: yellow;
    border-radius: 8px;
}

html::-webkit-scrollbar-button {
    background-color: yellow;
}

#jam>figure {
    will-change: transform;
}

#page2,
#page3 {
    transition: height 0.5s ease;
    overflow: hidden;
}

.myTransform1 {
    transform: rotateX(10deg) !important;
    transform-origin: left !important;
}

.myTransform2 {
    transform: rotateX(-10deg) !important;
    transform-origin: left !important;
}

html {
    scroll-behavior: smooth;
}